<h2 mat-dialog-title>Editar Combustivel</h2>
<mat-dialog-content>
    <form #f="ngForm">
        <div class="row">
            <div class="col-md-2">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Id.</mat-label>
                    <input matInput disabled [value]="data.id">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Id. Posto</mat-label>
                    <input matInput [value]="data.idPosto">
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Nome</mat-label>
                    <input matInput [value]="data.nome">
                </mat-form-field>
            </div>
            <div class="col-lg-2">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Preço / Litro</mat-label>
                    <input matInput type="number" [value]="data.preco">
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-flat-button color="primary" (click)="salvar(f.form.value)">Salvar</button>
    <button mat-flat-button [mat-dialog-close]="false">Cancelar</button>
</mat-dialog-actions>