<h2 mat-dialog-title>Posto</h2>
<mat-dialog-content>
    <div class="row">
        <div id="map" class="col"></div>
        <div class="col-4">
            <form [formGroup]="postoForm">
                <div class="row">
                    <div class="col">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>Id.</mat-label>
                            <input matInput formControlName="id">
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>Nome</mat-label>
                            <input matInput formControlName="nome">
                            <mat-error *ngIf="postoForm.controls['nome'].hasError('required')">
                                Nome é obrigatório.
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>Lat.</mat-label>
                            <input matInput formControlName="lat">
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>Longi.</mat-label>
                            <input matInput formControlName="lng">
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-flat-button color="primary" (click)="salvar()">Salvar</button>
    <button mat-flat-button [mat-dialog-close]="false">Cancelar</button>
</mat-dialog-actions>