<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100">

    <!-- Id -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Id Posto -->
    <ng-container matColumnDef="posto-id">
      <th mat-header-cell *matHeaderCellDef> Id. Posto </th>
      <td mat-cell *matCellDef="let element"> {{element.idPosto}} </td>
    </ng-container>
  
    <!-- Nome -->
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
    </ng-container>

    <!-- Preco -->
    <ng-container matColumnDef="preco">
      <th mat-header-cell *matHeaderCellDef> Preco / Litro </th>
      <td mat-cell *matCellDef="let element"> {{element.preco | currency}} </td>
    </ng-container>

    <!-- Action -->
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Ação </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="editar(element)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="remover(element.id)">
                <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>visibility</mat-icon>
            </button>
        </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>